
@{
    ViewData["Title"] = "insertdata";
}

<h1 style="color:cornflowerblue;text-align:center">Add New Data</h1>


<forms >
    <label>Name</label><br />
    <input type="number" placeholder="EmpId" style="width:100%"  id="id"/><br />
    <label>FirstName</label><br />
    <input type="text" placeholder="FirstName" required style="width:100%" id="fname"/><br />
    <label>LastName</label><br />
    <input type="text" placeholder="LasttName" required style="width:100%" id="lname"/><br />
    <label>select gender</label><br />
    <select style="width:100%" id="gender">
        <option value="male">Male</option>
        <option value="Female">FeMale</option>

    </select><br /><br />

    

    <button style="background-color:cornflowerblue;  color:white;font-size:20px; width:100%"> submit</button>
